#newItemPicture {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
	visibility:hidden;
	display:none;
}
#btn_choose_image_placeholder{
	display:block;
	width:128px;
	height:128px;
}
#btn_choose_image_image{
	display:none
}
